{% load static %}
<header class="header header--loggedIn">
      <div class="container">
        <a href="{% url 'homepage' %}" class="header__logo">
          <img src="{% static 'images/logo.svg' %}" />
          <h1>StudyBuddy</h1>
        </a>
        <form class="header__search" method='GET' action="{% url 'homepage' %}">
          <label>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>search</title>
              <path
                d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"
              ></path>
            </svg>
            <input name='q' placeholder="Search for rooms..." />
          </label>
        </form>
        <nav class="header__menu">
        
          {% if request.user.is_authenticated %}
          <a href="{% url 'logout' %}">Logout</a>
          {% else%}
          <a href="{% url 'loginPage' %}">Login</a>
          {% endif %}
    

          
        </nav>
      </div>
    </header>








{% comment %} <div class="logo">
     <a href=""><h1>LOGO</h1></a>
     <h3>Hello {{ request.user }}</h3>
   
     {% if request.user.is_authenticated %}
     <a href="{% url 'loginPage' %}" class="btn btn-danger">Logout</a>
     {% else %}
     <a href="{% url 'loginPage' %}" class="btn btn-danger">Login</a>

     {% endif %}
</div> {% endcomment %}
     
